%h1 Store#index
%p Find me in app/views/store/index.html.haml

%p#notice= notice
%h1 Your Pragmatic Catalog
- @products.each do |product|
  .entry
    = image_tag(product.image_url)
    %h3= product.title
    = sanitize(product.description)
    .price_line
      %span.price= sprintf("P%0.02f", product.price)
